In [66]:
# 分位点测试
import numpy as np
test_list = [3,2,1,3,3,3,4,4,5,5]
# 分位点计算与列表是否排序无关
test_list.sort(reverse=True)

n = np.percentile(test_list, 10,interpolation='midpoint')
n

1.5

In [67]:
test_list.sort(reverse=True)
test_list

[5, 5, 4, 4, 3, 3, 3, 3, 2, 1]

In [68]:
import numpy as np
import pandas as pd

golden_data = pd.read_csv('./sample_pipeline_20220821_mini.csv')
print(golden_data.columns)

golden_data = golden_data[~((golden_data['da_label']==-1) & (golden_data['last_opt']=='link'))]
columns = ['jd_id', 'cv_id']
jd_cvs = golden_data[columns].groupby('jd_id').count()
print(jd_cvs.sort_values('cv_id', ascending=False))
# jd_cvs = jd_cvs.sort_values('cv_id', ascending=False)

# 黄金数据集的分位点
percent_list = list(range(1, 10)) 
percent_list.extend([9.5, 9.6, 9.7, 9.8, 9.9, 10])
percent_list = list(map(lambda x: x*10, percent_list))
print(percent_list)

for percent in percent_list:
    num = np.percentile(jd_cvs['cv_id'], percent,interpolation='midpoint')
    print("%{}的分位点是：{}".format(percent, num))

Index(['cv_id', 'jd_id', 'cv_code', 'jd_code', 'last_opt', 'da_label',
       'rank_label', 'ds'],
      dtype='object')
                                  cv_id
jd_id
2c92071580dd3ab70180f18714e119c0    610
2c92071580dd3ab70180f1894bbc1a19    323
2c9207157fd11e5f017fe909a9940f40    261
2c9207157e58b774017e6ac4bd186aa3    231
2c920715800e88630180255b59936a95    211
...                                 ...
2c9207158099ebb701809a3c970a180a      1
2c920715809a7db801809c09d9034174      1
2c920715809a7db801809c1fda995190      1
2c920715809a7db801809c250d105867      1
2c920715800e886301804b9d95aa1e42      1

[9471 rows x 1 columns]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 95.0, 96.0, 97.0, 98.0, 99.0, 100]
%10的分位点是：1.0
%20的分位点是：1.0
%30的分位点是：2.0
%40的分位点是：3.0
%50的分位点是：4.0
%60的分位点是：5.0
%70的分位点是：7.0
%80的分位点是：11.0
%90的分位点是：18.0
%95.0的分位点是：27.0
%96.0的分位点是：31.0
%97.0的分位点是：36.0
%98.0的分位点是：43.0
%99.0的分位点是：59.0
%100的分位点是：610.0

In [69]:
golden_data[columns]

                                  jd_id                             cv_id
0      2c9207157bcbb76b017bcde2b46d04cd  2c9207157bf91042017c0d2beef00470
1      2c9207157bcbb76b017bf7f2bbbb3153  2c9207157bf91042017c0d979cbb047d
2      2c9207157bf94d99017c108f769405e0  2c9207157bf91042017c7232fbab3be1
3      2c9207157d2f0ec5017d5a9265ba33d9  2c9207157d308592017d4a94cb1113a1
4      2c9207157d631abb017d6eed1c79139f  2c9207157dabb0a3017dbca16cdf4c26
...                                 ...                               ...
81291  8a69f6f8823a93b901823d891b761d51  8a69d7c28219945301823d8a08d14e70
81292  8a69c468826ee9b40182831bedfc5e79  8a69d7c282199453018247bac4a36859
81293  8a69f6f8823a93b9018247c30aca4e3d  8a69d7c282199453018247bac4a36859
81294  2c92071580dd3ab70180f18714e119c0  8a69d7db826df6c201827b4338cd60c2
81295  8a69d77e82926b4101829f733f84545b  8a69f60582b081f50182b33dea795d4d

[74601 rows x 2 columns]

In [70]:
golden_data[columns].drop_duplicates(['jd_id', 'cv_id'], keep='first', inplace=False)

                                  jd_id                             cv_id
0      2c9207157bcbb76b017bcde2b46d04cd  2c9207157bf91042017c0d2beef00470
1      2c9207157bcbb76b017bf7f2bbbb3153  2c9207157bf91042017c0d979cbb047d
2      2c9207157bf94d99017c108f769405e0  2c9207157bf91042017c7232fbab3be1
3      2c9207157d2f0ec5017d5a9265ba33d9  2c9207157d308592017d4a94cb1113a1
4      2c9207157d631abb017d6eed1c79139f  2c9207157dabb0a3017dbca16cdf4c26
...                                 ...                               ...
81291  8a69f6f8823a93b901823d891b761d51  8a69d7c28219945301823d8a08d14e70
81292  8a69c468826ee9b40182831bedfc5e79  8a69d7c282199453018247bac4a36859
81293  8a69f6f8823a93b9018247c30aca4e3d  8a69d7c282199453018247bac4a36859
81294  2c92071580dd3ab70180f18714e119c0  8a69d7db826df6c201827b4338cd60c2
81295  8a69d77e82926b4101829f733f84545b  8a69f60582b081f50182b33dea795d4d

[73874 rows x 2 columns]

In [71]:
golden_data[~((golden_data['da_label']==-1) & (golden_data['last_opt']=='link'))]

,cv_id,jd_id,cv_code,jd_code,last_opt,da_label,rank_label,ds
0,2c9207157bf91042017c0d2beef00470,2c9207157bcbb76b017bcde2b46d04cd,C972256920532553791,JD20210910115615503390,accept,3,3,20220821
1,2c9207157bf91042017c0d979cbb047d,2c9207157bcbb76b017bf7f2bbbb3153,C972256920532553793,JD20210918160449291911,drop,1,1,20220821
2,2c9207157bf91042017c7232fbab3be1,2c9207157bf94d99017c108f769405e0,C972256920557719651,JD20210923104433723714,reject,2,2,20220821
3,2c9207157d308592017d4a94cb1113a1,2c9207157d2f0ec5017d5a9265ba33d9,C972256920566108351,JD20211126124504034196,post,-1,2,20220821
4,2c9207157dabb0a3017dbca16cdf4c26,2c9207157d631abb017d6eed1c79139f,C972256920574496875,JD20211130113932574529,drop,1,1,20220821
...,...,...,...,...,...,...,...,...
81291,8a69d7c28219945301823d8a08d14e70,8a69f6f8823a93b901823d891b761d51,C1001802097441771520,JD20220727104202442977,post,-1,2,20220821
81292,8a69d7c282199453018247bac4a36859,8a69c468826ee9b40182831bedfc5e79,C1002519180706189312,JD20220809225701866333,accept,3,3,20220821
81293,8a69d7c282199453018247bac4a36859,8a69f6f8823a93b9018247c30aca4e3d,C1002519180706189312,JD20220729102220803076,post,-1,2,20220821
81294,8a69d7db826df6c201827b4338cd60c2,2c92071580dd3ab70180f18714e119c0,C1006145494768140288,JD20220520123312243433,post,-1,2,20220821
81295,8a69f60582b081f50182b33dea795d4d,8a69d77e82926b4101829f733f84545b,C1010084685935755264,JD20220815110146416988,post,-1,2,20220821

In [72]:
golden_data[((golden_data['da_label']==-1) & (golden_data['last_opt']=='link'))]

Empty DataFrame
Columns: [cv_id, jd_id, cv_code, jd_code, last_opt, da_label, rank_label, ds]
Index: []

In [73]:
golden_data

,cv_id,jd_id,cv_code,jd_code,last_opt,da_label,rank_label,ds
0,2c9207157bf91042017c0d2beef00470,2c9207157bcbb76b017bcde2b46d04cd,C972256920532553791,JD20210910115615503390,accept,3,3,20220821
1,2c9207157bf91042017c0d979cbb047d,2c9207157bcbb76b017bf7f2bbbb3153,C972256920532553793,JD20210918160449291911,drop,1,1,20220821
2,2c9207157bf91042017c7232fbab3be1,2c9207157bf94d99017c108f769405e0,C972256920557719651,JD20210923104433723714,reject,2,2,20220821
3,2c9207157d308592017d4a94cb1113a1,2c9207157d2f0ec5017d5a9265ba33d9,C972256920566108351,JD20211126124504034196,post,-1,2,20220821
4,2c9207157dabb0a3017dbca16cdf4c26,2c9207157d631abb017d6eed1c79139f,C972256920574496875,JD20211130113932574529,drop,1,1,20220821
...,...,...,...,...,...,...,...,...
81291,8a69d7c28219945301823d8a08d14e70,8a69f6f8823a93b901823d891b761d51,C1001802097441771520,JD20220727104202442977,post,-1,2,20220821
81292,8a69d7c282199453018247bac4a36859,8a69c468826ee9b40182831bedfc5e79,C1002519180706189312,JD20220809225701866333,accept,3,3,20220821
81293,8a69d7c282199453018247bac4a36859,8a69f6f8823a93b9018247c30aca4e3d,C1002519180706189312,JD20220729102220803076,post,-1,2,20220821
81294,8a69d7db826df6c201827b4338cd60c2,2c92071580dd3ab70180f18714e119c0,C1006145494768140288,JD20220520123312243433,post,-1,2,20220821
81295,8a69f60582b081f50182b33dea795d4d,8a69d77e82926b4101829f733f84545b,C1010084685935755264,JD20220815110146416988,post,-1,2,20220821

In [74]:
74601+6695

81296

In [2]:
import numpy as np
import pandas as pd
sample_20220821 = pd.read_csv('./sample_20220821_spark.csv')
sample_20220821.columns

Index(['Unnamed: 0', 'cv_id', 'jd_id', 'tags', 'skills'], dtype='object')

In [3]:
sample_20220821

,Unnamed: 0,cv_id,jd_id,tags,skills
0,0,2c9207157bcb9549017bce3ea49b00fa,2c9207157bcbb76b017bce3d99ba059a,"[""市场策划"",""管理"",""推广"",""营销"",""品牌推广""]","[""Ai"",""Ar"",""App"",""优化"",""营销"",""策划"",""运营"",""搭建"",""电商""..."
1,1,2c9207157bf91042017c1040330d04d3,2c9207157bcbb76b017bec76efca1ca5,"[""销售"",""团队管理"",""市场推广"",""AI"",""负责管理""]","[""it规划咨询"",""云计算咨询""]"
2,2,2c9207157bf91042017c10f871d309f4,2c9207157f347800017f624770866105,"[""投资"",""临床"",""生物"",""生物医药""]","[""VC"",""PPT"",""SQL"",""VBA"",""Kpi"",""Excel"",""C/C++"",..."
3,3,2c9207157bf91042017c62fce2583411,2c9207157b9b9199017bca11fd3d3f11,"[""运营"",""产品运营"",""内容运营"",""美工"",""互联网产品""]","[""Vi"",""Pr"",""App"",""Crm"",""优化"",""策划"",""营销"",""搭建"",""融资..."
4,4,2c9207157bf91042017c6ecc163d3aa8,2c9207157bf94d99017c6ecb294930b1,"[""架构"",""数字化"",""管理"",""云计算"",""区块链""]","[""PPT"",""Word"",""Excel"",""Visio"",""营销"",""运营"",""搭建"",""..."
...,...,...,...,...,...
81291,81291,8a69f60582b081f50182b92ebdab1e84,8a69f62f82926a860182a0d7cd7d28bb,"[""仓储"",""物流"",""管理"",""沟通能力"",""软件""]","O2O,Erp,Wms,Kpi,优化,运营,搭建,驾驶,电商,性能,架构,招投标,施工图,绩..."
81292,81292,8a69f61382b080760182b2fb552a0978,8a69f62f82926a860182af1bf161226d,"[""Photoshop"",""Coredraw"",""AI"",""3D工业软件"",""软件""]","Zcool,电商,优化,搭建,装修,页面设计,平面设计"
81293,81293,8a69f68b828a2cd901828f891bd10be1,8a69c4d6826e58640182804931425820,"[""游戏"",""动画设计"",""审核"",""美术"",""软件""]","C1,C4D,Icon,舞蹈,美术,项目经理,视频制作,沟通能力"
81294,81294,8a69f68b828a2cd901828fc2ff6a4885,8a69c4d6826e5864018285e46d3f17d7,"[""沟通能力"",""归档"",""法规"",""评审"",""产品开发""]","制药,内科,配置,策划,美容,团队销售,生物医药"
81295,81295,8a69f68b828a2cd9018291b81ab1557d,8a69c4a8820f0ee00182143cd83b2916,"[""结构设计"",""管理"",""审核"",""软件"",""管理工作""]","Top,Bom,优化,电气,仿真,消防,搭建,招聘,电站,迭代,普通话,系统集成,系统测试,..."