In [ ]:
# 分位点测试
import numpy as np
test_list = [3,2,1,3,3,3,4,4,5,5]
n = np.percentile(test_list, 10,interpolation='midpoint')
n

In [82]:
import numpy as np
import pandas as pd

golden_data = pd.read_csv('./sample_pipeline_20220821_mini.csv')
print(golden_data.columns)

golden_data = golden_data[~((golden_data['da_label']==-1) & (golden_data['last_opt']=='link'))]
columns = ['jd_id', 'cv_id']
jd_cvs = golden_data[columns].groupby('jd_id').count()
print(jd_cvs.sort_values('cv_id', ascending=False))
# jd_cvs = jd_cvs.sort_values('cv_id', ascending=False)

# 黄金数据集的分位点
percent_list = list(range(1, 10)) 
percent_list.extend([9.5, 9.6, 9.7, 9.8, 9.9])
percent_list = list(map(lambda x: x*10, percent_list))
print(percent_list)

for percent in percent_list:
    num = np.percentile(jd_cvs['cv_id'], percent,interpolation='midpoint')
    print("%{}的分位点是：{}".format(percent, num))

Index(['cv_id', 'jd_id', 'cv_code', 'jd_code', 'last_opt', 'da_label',
       'rank_label', 'ds'],
      dtype='object')
                                  cv_id
jd_id
2c92071580dd3ab70180f18714e119c0    610
2c92071580dd3ab70180f1894bbc1a19    323
2c9207157fd11e5f017fe909a9940f40    261
2c9207157e58b774017e6ac4bd186aa3    231
2c920715800e88630180255b59936a95    211
...                                 ...
2c9207158099ebb701809a3c970a180a      1
2c920715809a7db801809c09d9034174      1
2c920715809a7db801809c1fda995190      1
2c920715809a7db801809c250d105867      1
2c920715800e886301804b9d95aa1e42      1

[9471 rows x 1 columns]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 95.0, 96.0, 97.0, 98.0, 99.0]
%10的分位点是：1.0
%20的分位点是：1.0
%30的分位点是：2.0
%40的分位点是：3.0
%50的分位点是：4.0
%60的分位点是：5.0
%70的分位点是：7.0
%80的分位点是：11.0
%90的分位点是：18.0
%95.0的分位点是：27.0
%96.0的分位点是：31.0
%97.0的分位点是：36.0
%98.0的分位点是：43.0
%99.0的分位点是：59.0

In [89]:
golden_data[columns]

                                  jd_id                             cv_id
0      2c9207157bcbb76b017bcde2b46d04cd  2c9207157bf91042017c0d2beef00470
1      2c9207157bcbb76b017bf7f2bbbb3153  2c9207157bf91042017c0d979cbb047d
2      2c9207157bf94d99017c108f769405e0  2c9207157bf91042017c7232fbab3be1
3      2c9207157d2f0ec5017d5a9265ba33d9  2c9207157d308592017d4a94cb1113a1
4      2c9207157d631abb017d6eed1c79139f  2c9207157dabb0a3017dbca16cdf4c26
...                                 ...                               ...
81291  8a69f6f8823a93b901823d891b761d51  8a69d7c28219945301823d8a08d14e70
81292  8a69c468826ee9b40182831bedfc5e79  8a69d7c282199453018247bac4a36859
81293  8a69f6f8823a93b9018247c30aca4e3d  8a69d7c282199453018247bac4a36859
81294  2c92071580dd3ab70180f18714e119c0  8a69d7db826df6c201827b4338cd60c2
81295  8a69d77e82926b4101829f733f84545b  8a69f60582b081f50182b33dea795d4d

[74601 rows x 2 columns]

In [88]:
golden_data[columns].drop_duplicates(['jd_id', 'cv_id'], keep='first', inplace=False)

                                  jd_id                             cv_id
0      2c9207157bcbb76b017bcde2b46d04cd  2c9207157bf91042017c0d2beef00470
1      2c9207157bcbb76b017bf7f2bbbb3153  2c9207157bf91042017c0d979cbb047d
2      2c9207157bf94d99017c108f769405e0  2c9207157bf91042017c7232fbab3be1
3      2c9207157d2f0ec5017d5a9265ba33d9  2c9207157d308592017d4a94cb1113a1
4      2c9207157d631abb017d6eed1c79139f  2c9207157dabb0a3017dbca16cdf4c26
...                                 ...                               ...
81291  8a69f6f8823a93b901823d891b761d51  8a69d7c28219945301823d8a08d14e70
81292  8a69c468826ee9b40182831bedfc5e79  8a69d7c282199453018247bac4a36859
81293  8a69f6f8823a93b9018247c30aca4e3d  8a69d7c282199453018247bac4a36859
81294  2c92071580dd3ab70180f18714e119c0  8a69d7db826df6c201827b4338cd60c2
81295  8a69d77e82926b4101829f733f84545b  8a69f60582b081f50182b33dea795d4d

[73874 rows x 2 columns]

In [75]:
golden_data[~((golden_data['da_label']==-1) & (golden_data['last_opt']=='link'))]

,cv_id,jd_id,cv_code,jd_code,last_opt,da_label,rank_label,ds
0,2c9207157bf91042017c0d2beef00470,2c9207157bcbb76b017bcde2b46d04cd,C972256920532553791,JD20210910115615503390,accept,3,3,20220821
1,2c9207157bf91042017c0d979cbb047d,2c9207157bcbb76b017bf7f2bbbb3153,C972256920532553793,JD20210918160449291911,drop,1,1,20220821
2,2c9207157bf91042017c7232fbab3be1,2c9207157bf94d99017c108f769405e0,C972256920557719651,JD20210923104433723714,reject,2,2,20220821
3,2c9207157d308592017d4a94cb1113a1,2c9207157d2f0ec5017d5a9265ba33d9,C972256920566108351,JD20211126124504034196,post,-1,2,20220821
4,2c9207157dabb0a3017dbca16cdf4c26,2c9207157d631abb017d6eed1c79139f,C972256920574496875,JD20211130113932574529,drop,1,1,20220821
...,...,...,...,...,...,...,...,...
81291,8a69d7c28219945301823d8a08d14e70,8a69f6f8823a93b901823d891b761d51,C1001802097441771520,JD20220727104202442977,post,-1,2,20220821
81292,8a69d7c282199453018247bac4a36859,8a69c468826ee9b40182831bedfc5e79,C1002519180706189312,JD20220809225701866333,accept,3,3,20220821
81293,8a69d7c282199453018247bac4a36859,8a69f6f8823a93b9018247c30aca4e3d,C1002519180706189312,JD20220729102220803076,post,-1,2,20220821
81294,8a69d7db826df6c201827b4338cd60c2,2c92071580dd3ab70180f18714e119c0,C1006145494768140288,JD20220520123312243433,post,-1,2,20220821
81295,8a69f60582b081f50182b33dea795d4d,8a69d77e82926b4101829f733f84545b,C1010084685935755264,JD20220815110146416988,post,-1,2,20220821

In [76]:
golden_data[((golden_data['da_label']==-1) & (golden_data['last_opt']=='link'))]

,cv_id,jd_id,cv_code,jd_code,last_opt,da_label,rank_label,ds
69,2c9207157ef7ed7f017f056d26cd2465,2c9207157ef7ed16017f00ac226d2863,C972256920687743514,JD20220216112830687001,link,-1,1,20220821
85,2c9207157f4b955d017f728a2c0201ee,2c9207157ef7ed16017f2ead38dd3111,C972256920746463590,JD20220225101938491833,link,-1,1,20220821
95,2c9207157f8e60cd017fb496c1c865ec,2c9207158114fb2901814bc29737176e,C972256920775823526,JD20220610115732749860,link,-1,1,20220821
101,2c9207157fbc999d017fbedc896035a7,2c9207157fff42d2018006c044074273,C972256920800989357,JD20220211102159786300,link,-1,1,20220821
116,2c9207157fd11e47017fe8f00b59081c,2c9207157fd11e5f017fe8e9cd1d451c,C972256920863903822,JD20220402141510853419,link,-1,1,20220821
...,...,...,...,...,...,...,...,...
81248,2c92071581c8d04f0181d17e0f1828d1,2c92071581900df30181903b6d212d5e,C994198980512583680,JD20220322135717229126,link,-1,1,20220821
81255,2c92071581d380c20181f1ffb4af1e65,2c92071581d380a00181d754e1891d5e,C996486417980985344,JD20220707142433130238,link,-1,1,20220821
81262,8a69c41582a3cc240182b02711e26ad7,2c92071581d380a00181eb2faae1389c,C1009867299827675136,JD20220711105618631781,link,-1,1,20220821
81272,8a69c4b5820f0b2101820f99257c07b7,2c9207158114fb2901811ee8a68f49ea,C998569288656883712,JD20220531210148031570,link,-1,1,20220821
81290,8a69d7c28219945301823d40099e04a7,2c92071581900df30181aecce4ca749d,C1001781757344878592,JD20220629173112429868,link,-1,1,20220821

In [77]:
golden_data

,cv_id,jd_id,cv_code,jd_code,last_opt,da_label,rank_label,ds
0,2c9207157bf91042017c0d2beef00470,2c9207157bcbb76b017bcde2b46d04cd,C972256920532553791,JD20210910115615503390,accept,3,3,20220821
1,2c9207157bf91042017c0d979cbb047d,2c9207157bcbb76b017bf7f2bbbb3153,C972256920532553793,JD20210918160449291911,drop,1,1,20220821
2,2c9207157bf91042017c7232fbab3be1,2c9207157bf94d99017c108f769405e0,C972256920557719651,JD20210923104433723714,reject,2,2,20220821
3,2c9207157d308592017d4a94cb1113a1,2c9207157d2f0ec5017d5a9265ba33d9,C972256920566108351,JD20211126124504034196,post,-1,2,20220821
4,2c9207157dabb0a3017dbca16cdf4c26,2c9207157d631abb017d6eed1c79139f,C972256920574496875,JD20211130113932574529,drop,1,1,20220821
...,...,...,...,...,...,...,...,...
81291,8a69d7c28219945301823d8a08d14e70,8a69f6f8823a93b901823d891b761d51,C1001802097441771520,JD20220727104202442977,post,-1,2,20220821
81292,8a69d7c282199453018247bac4a36859,8a69c468826ee9b40182831bedfc5e79,C1002519180706189312,JD20220809225701866333,accept,3,3,20220821
81293,8a69d7c282199453018247bac4a36859,8a69f6f8823a93b9018247c30aca4e3d,C1002519180706189312,JD20220729102220803076,post,-1,2,20220821
81294,8a69d7db826df6c201827b4338cd60c2,2c92071580dd3ab70180f18714e119c0,C1006145494768140288,JD20220520123312243433,post,-1,2,20220821
81295,8a69f60582b081f50182b33dea795d4d,8a69d77e82926b4101829f733f84545b,C1010084685935755264,JD20220815110146416988,post,-1,2,20220821

In [78]:
74601+6695

81296

1.5