In [1]:
import json
import jieba
import re
import numpy as np
import pandas as pd
from zhconv import convert

data_path = '../data/all_sample_20220821_spark.csv'
all_data = pd.read_csv(data_path)

/var/folders/99/wft1658s2mv39cv4wj_rcpqh0000gp/T/ipykernel_39706/1986276430.py:9: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  all_data = pd.read_csv(data_path)

# 需要过虑
* time_list是单个的时间，需要确定时间的下限，不能是1900年
* time_pair_list是start和end的时间pair，需要过滤掉太长的时间差

In [33]:
from datetime import datetime

def parse_ym(s):
    year_s, mon_s = s.split('-')
    return datetime(int(year_s), int(mon_s), 1)

time_list = []
time_pair_list = []

for i in range(len(all_data)):
    try:
        jobtrack = all_data['jobTracks'][i]
        jobtrack = jobtrack.replace("\'", "")
        jobtrack_list_dict = json.loads(jobtrack)

        for dic in jobtrack_list_dict:
            startDate = dic.get('startDate', None)
            endDate = dic.get('endDate', None)

            if not startDate or not endDate:
                continue

            start = parse_ym(startDate)
            end = parse_ym(endDate)

            # 这个down_limit该如何定呢？
            down_limit = parse_ym('1990-01')
            up_limit = datetime.now()

            if end > up_limit or start < down_limit: 
                continue

            if end <= start:
                continue

            time_list.append(startDate)
            time_list.append(endDate)

            
            delta = (end - start).days
            # if delta > 3650:
            #     continue
            time_pair_list.append((startDate, endDate, delta))
    except:
        pass


delta_days_list = [days for _, _, days in time_pair_list]


percent_list = list(range(1, 10)) 
percent_list.extend([9.5, 9.6, 9.7, 9.8, 9.9, 10])
percent_list = map(lambda x: x*10, percent_list)

# 计算分位点
for percent in percent_list:
    num = np.percentile(delta_days_list, percent, interpolation='midpoint')
    print("%{}的分位点是：{}".format(percent, num))

%10的分位点是：212.0
%20的分位点是：335.0
%30的分位点是：426.0
%40的分位点是：549.0
%50的分位点是：700.0
%60的分位点是：821.0
%70的分位点是：1034.0
%80的分位点是：1248.0
%90的分位点是：1705.0
%95.0的分位点是：2192.0
%96.0的分位点是：2404.0
%97.0的分位点是：2619.0
%98.0的分位点是：2983.0
%99.0的分位点是：3653.0
%100的分位点是：11778.0

In [24]:
time_list

with open('time_list', "w") as fo:
    for t in time_list:
        fo.write(str(t) + '\n')

### 查看每个时间的重复次数。有些时间重复次数太少，比如1980。确定一个时间下限。

In [29]:
cat time_list | sort | uniq -c | sort -k1 -rn

13525 2022-04
10619 2022-05
10333 2022-03
8169 2022-06
6734 2022-02
6267 2018-07
6165 2022-01
5829 2021-03
5723 2018-06
5648 2018-03
5636 2021-04
5612 2019-07
5359 2021-01
5340 2019-01
5323 2021-06
5320 2017-07
5301 2018-01
5223 2019-03
5186 2020-07
5129 2018-04
5102 2018-08
5090 2018-05
5026 2021-07
5016 2020-06
5004 2019-06
4993 2020-03
4971 2021-05
4942 2020-01
4929 2017-03
4923 2016-07
4830 2020-09
4826 2019-04
4794 2021-12
4787 2019-05
4736 2020-04
4691 2018-09
4509 2015-07
4507 2020-08
4503 2019-08
4431 2016-06
4407 2021-08
4350 2017-06
4335 2022-07
4321 2016-03
4298 2020-12
4291 2020-05
4281 2017-01
4254 2021-09
4242 2019-09
4234 2020-10
4191 2018-10
4040 2014-07
3975 2017-09
3971 2017-08
3937 2016-01
3914 2019-10
3899 2017-05
3790 2017-04
3771 2016-08
3730 2018-12
3711 2016-05
3662 2019-12
3629 2015-01
3610 2020-11
3580 2015-05
3573 2015-06
3511 2017-12
3431 2015-03
3425 2017-02
3368 2016-09
3303 2021-10
3296 2016-04
3287 2015-08
3276 2019-11
3273 2021-11
3273 2017-10
3217 2018-11
3208 2019-02
3184 2021-02
3109 2013-07
3053 2014-03
3035 2014-06
3004 2018-02
2937 2012-07
2916 2015-09
2886 2017-11
2869 2015-04
2818 2016-10
2782 2014-01
2671 2015-10
2654 2016-12
2650 2011-07
2647 2020-02
2611 2014-08
2592 2015-12
2584 2014-04
2512 2014-09
2288 2016-11
2277 2014-05
2272 2022-08
2240 2013-01
2232 2010-07
2201 2016-02
2199 2013-03
2146 2013-06
2036 2014-10
2032 2015-11
1972 2012-01
1970 2014-12
1945 2013-08
1893 2012-06
1856 2013-09
1854 2014-02
1845 2012-03
1784 2013-05
1773 2015-02
1749 2011-01
1699 2011-06
1693 2013-04
1692 2012-05
1658 2014-11
1656 2013-10
1630 2012-09
1621 2011-03
1542 2012-08
1532 2013-12
1519 2012-04
1505 2008-07
1490 2009-07
1487 2010-01
1400 2011-08
1393 2007-07
1366 2012-12
1364 2011-04
1346 2012-10
1339 2012-02
1332 2011-05
1290 2011-09
1290 2010-03
1287 2010-06
1256 2013-11
1237 2010-08
1235 2010-09
1213 2010-05
1183 2009-09
1176 2010-04
1171 2010-10
1171 2006-07
1123 2011-10
1108 2013-02
1067 2011-02
1034 2009-01
1027 2011-11
1023 2010-12
1013 2008-01
 971 2011-12
 969 2009-06
 939 2009-08
 935 2005-07
 929 2008-06
 914 2009-10
 897 2012-11
 850 2007-01
 837 2009-03
 809 2008-08
 775 2008-03
 739 2009-12
 721 2010-11
 713 2008-09
 706 2004-07
 705 2008-05
 675 2007-06
 671 2007-09
 653 2010-02
 651 2008-04
 651 2007-08
 618 2007-03
 610 2009-05
 594 2009-11
 590 2008-12
 585 2009-02
 575 2005-01
 569 2009-04
 569 2006-01
 564 2008-10
 547 2006-06
 517 2006-09
 511 2007-10
 496 2007-05
 478 2003-07
 477 2006-08
 474 2006-03
 463 2008-02
 432 2008-11
 424 2006-04
 424 2004-01
 422 2007-12
 419 2007-04
 419 2006-10
 415 2006-05
 388 2005-08
 387 2007-11
 387 2006-12
 371 2005-09
 363 2005-10
 359 2005-03
 348 2005-06
 348 2005-04
 346 2004-09
 346 2002-07
 326 2004-06
 326 2003-01
 323 2004-08
 318 2005-05
 307 2001-07
 282 2007-02
 268 2005-12
 259 2003-09
 257 2006-02
 257 2004-04
 244 2003-03
 233 2000-01
 224 2003-08
 221 2004-03
 217 2002-01
 201 2006-11
 201 2003-06
 199 2004-05
 172 2001-01
 172 2000-07
 169 2004-02
 168 2002-08
 165 2001-09
 161 2003-12
 160 2005-11
 158 2004-10
 158 2002-09
 155 2004-12
 149 1999-07
 143 2005-02
 142 2003-04
 140 2003-10
 138 2003-05
 135 2004-11
 119 2002-03
 116 2001-08
 113 2002-06
 111 2002-10
 111 2000-08
 110 1998-07
 108 2002-05
 106 1996-07
  99 2003-02
  98 2000-06
  97 2003-11
  94 1999-01
  91 1999-08
  89 1997-07
  88 2001-06
  85 2001-04
  84 2002-12
  84 2002-11
  84 2000-09
  77 2002-02
  77 2001-03
  76 1999-09
  74 2002-04
  68 2001-12
  67 2001-10
  64 2000-10
  64 1998-01
  63 2000-12
  62 2000-03
  54 1998-09
  53 2000-05
  51 2001-05
  51 2001-02
  47 1999-10
  47 1999-06
  45 1999-12
  45 1997-01
  43 2000-04
  43 1997-08
  42 1995-01
  40 1998-08
  39 1997-09
  39 1995-07
  35 2001-11
  35 2000-11
  33 1999-03
  33 1998-10
  31 1996-09
  30 1998-12
  28 2000-02
  28 1998-06
  27 1994-07
  25 1996-08
  23 1999-02
  23 1997-12
  23 1997-06
  23 1992-01
  21 1999-05
  20 1994-09
  19 1999-11
  19 1996-01
  19 1995-09
  18 1999-04
  18 1995-08
  18 1994-01
  18 1993-01
  17 1996-03
  16 1992-10
  15 1994-12
  14 1998-05
  14 1998-03
  14 1996-05
  14 1992-07
  13 1995-06
  13 1993-07
  12 1997-05
  12 1996-12
  12 1996-06
  12 1995-03
  12 1993-09
  12 1993-08
  11 1998-11
  11 1997-10
  11 1997-03
  10 1998-04
  10 1998-02
  10 1997-04
  10 1996-10
  10 1996-02
  10 1991-06
   9 1996-04
   9 1995-05
   9 1995-04
   9 1994-06
   9 1994-05
   9 1991-01
   8 1991-08
   8 1991-07
   7 1995-10
   7 1994-10
   7 1993-02
   7 1992-03
   7 1990-07
   6 1994-08
   6 1994-03
   6 1992-08
   6 1991-12
   6 1991-10
   6 1990-08
   5 1997-02
   5 1996-11
   5 1993-10
   5 1993-03
   5 1990-11
   4 1997-11
   4 1993-11
   4 1993-06
   4 1993-05
   4 1991-09
   4 1990-10
   4 1990-06
   4 1990-04
   3 1995-12
   3 1995-11
   3 1994-04
   3 1992-09
   3 1992-02
   3 1990-01
   2 1994-02
   2 1993-12
   2 1993-04
   2 1992-06
   2 1992-04
   2 1991-04
   2 1990-12
   2 1990-03
   1 1994-11
   1 1991-11
   1 1991-05
   1 1991-02
   1 1990-05
   1 1990-02

In [35]:
import json
import jieba
import re
import numpy as np
import pandas as pd
from zhconv import convert


def load_csv_data(data_path):
    '''
    读取csv文件
    '''
    df = pd.read_csv(data_path)
    return df

if __name__ == "__main__":
    print("running...")

    data_path = '../data/all_sample_20220821_spark.csv'
    all_data = load_csv_data(data_path)

running...

/var/folders/99/wft1658s2mv39cv4wj_rcpqh0000gp/T/ipykernel_39706/2919539378.py:13: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(data_path)

In [42]:
from datetime import datetime

def parse_ym(s):
    year_s, mon_s = s.split('-')
    return datetime(int(year_s), int(mon_s), 1)

def get_job_time_fun(series, col):
    '''
    从jobTracks列提取工作的开始时间、结束时间和时间差(天数)
    '''
    time_pair_list = []
    try:
        jobtrack = series[col]
        jobtrack = jobtrack.replace("\'", "")
        jobtrack_list_dict = json.loads(jobtrack)

        for dic in jobtrack_list_dict:
            startDate = dic.get('startDate', None)
            endDate = dic.get('endDate', None)
        
            if not startDate or not endDate:
                continue

            start = parse_ym(startDate)
            end = parse_ym(endDate)

            # 这个down_limit该如何定呢？
            down_limit = parse_ym('1990-01')
            up_limit = datetime.now()

            if end > up_limit or start < down_limit: 
                continue

            if end <= start:
                continue

            delta = (end - start).days

            time_pair_list.append((startDate, endDate, delta))
        
        return time_pair_list
    except:
        return []

def work_duration_fun(series, col):
    job_time_delta = series[col]
    time_delta = [days for _,_,days in job_time_delta]

    return np.mean(time_delta)

all_data['job_time_delta'] = all_data.apply(get_job_time_fun, axis=1, args=('jobTracks', ))
all_data['work_duration_mean'] = all_data.apply(work_duration_fun, axis=1, args=('job_time_delta', ))

/Users/jinrirencai/opt/anaconda3/lib/python3.9/site-packages/numpy/core/fromnumeric.py:3440: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/Users/jinrirencai/opt/anaconda3/lib/python3.9/site-packages/numpy/core/_methods.py:189: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

In [48]:
all_data[['job_time_delta', 'work_duration_mean']]['job_time_delta'][3]

[('2021-09', '2021-11', 61), ('2016-06', '2016-09', 92)]

In [45]:
all_data[['job_time_delta', 'work_duration_mean']]

                                          job_time_delta  work_duration_mean
0      [(2020-02, 2021-12, 669), (2013-08, 2019-09, 2...         1209.500000
1      [(2020-06, 2021-09, 457), (2019-03, 2020-06, 4...          506.000000
2      [(2020-12, 2021-10, 304), (2016-11, 2020-11, 1...          811.500000
3       [(2021-09, 2021-11, 61), (2016-06, 2016-09, 92)]           76.500000
4                             [(2016-07, 2019-05, 1034)]         1034.000000
...                                                  ...                 ...
81291   [(2022-04, 2022-07, 91), (2022-04, 2022-07, 91)]           91.000000
81292  [(2020-08, 2022-07, 699), (2017-01, 2020-07, 1...         1582.750000
81293  [(2020-08, 2022-07, 699), (2017-01, 2020-07, 1...         1582.750000
81294  [(2018-04, 2020-07, 822), (2016-11, 2018-03, 4...          598.666667
81295  [(2022-02, 2022-08, 181), (2019-04, 2022-01, 1...          814.000000

[81296 rows x 2 columns]

In [49]:
all_data.iloc[3]

Unnamed: 0                                                            3
cv_id                                  2c9207157d308592017d4a94cb1113a1
jd_id                                  2c9207157d2f0ec5017d5a9265ba33d9
jd_code                                          JD20211126124504034196
title                                                     海外区域运营经理/高级经理
                                            ...
projectTracks         ['{"description": "主播表现，直播平均 2 场，平台新用户 12926，主...
ds.1                                                           20220821
job_time_delta         [(2021-09, 2021-11, 61), (2016-06, 2016-09, 92)]
work_duration                                                      76.5
work_duration_mean                                                 76.5
Name: 3, Length: 90, dtype: object

In [61]:
import json
import jieba
import re
import numpy as np
import pandas as pd
from zhconv import convert


def load_csv_data(data_path):
    '''
    读取csv文件
    '''
    df = pd.read_csv(data_path)
    return df

from datetime import datetime

def parse_ym(s):
    year_s, mon_s = s.split('-')
    return datetime(int(year_s), int(mon_s), 1)

def get_job_time_fun(series, col):
    '''
    从jobTracks列提取工作的开始时间、结束时间和时间差(天数)
    '''
    time_pair_list = []
    try:
        jobtrack = series[col]
        jobtrack = jobtrack.replace("\'", "")
        jobtrack_list_dict = json.loads(jobtrack)

        for dic in jobtrack_list_dict:
            startDate = dic.get('startDate', None)
            endDate = dic.get('endDate', None)
        
            if not startDate or not endDate:
                continue

            start = parse_ym(startDate)
            end = parse_ym(endDate)

            # 这个down_limit该如何定呢？
            down_limit = parse_ym('1990-01')
            up_limit = datetime.now()

            if end > up_limit or start < down_limit: 
                continue

            if end <= start:
                continue

            delta = (end - start).days

            time_pair_list.append((startDate, endDate, delta))
        
        return time_pair_list
    except:
        return []

def work_duration_mean_fun(series, col):
    '''
    对各份工作时长取均值
    '''
    job_time_delta = series[col]
    time_delta = [days for _,_,days in job_time_delta]

    return np.mean(time_delta)

def get_work_duration_mean(data_path):
    '''
    给定数据路径，得到work_duration_mean列
    '''
    all_data = load_csv_data(data_path)
    all_data['job_time_delta'] = all_data.apply(get_job_time_fun, axis=1, args=('jobTracks', ))
    all_data['work_duration_mean'] = all_data.apply(work_duration_mean_fun, axis=1, args=('job_time_delta', ))
    return all_data


if __name__ == "__main__":
    print("running...")

    data_path = '../data/all_sample_20220821_spark.csv'
    all_data = get_work_duration_mean(data_path)
    
    print(all_data[['job_time_delta', 'work_duration_mean']])

running...